<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>        
        <a href="/create">trang đăng ký</a> <br>
        <a href="/login">Trang đăng nhập</a>
        <a href="/uploadFile">Trang upload file</a>
</body>
</html>