<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Form login</h4>
     <a href="/">trang chủ</a>
    <form action="/loginUser" method="post">
        <div>
            <lable>user</lable>
            <input type="text" name="name">
        </div>
        <div>
            <lable>pass</lable>
            <input type="text" name="pass">
        </div>
            <button>Đăng nhập</button>

    </form>
</body>
</html>