<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign</title>
</head>
<body>
    <h1>Đăng ký</h1>
    <div>
        <form action="/sign" method="post">
            <div>
                <lable>name</lable>
                <input type="text" name="userName">
            </div>
            <div>
                <lable>password</lable>
                <input type="text" name="password">
            </div>
            <button>Sign</button>
        </form>
    </div>
    <a href="/login">login</a>
       <% if (error) { %>
           <p style="color:red;"><%= error %></p>
        <% } %>
</body>
</html>