<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <a href="/home">Trang chủ</a>
         <a href="/create">trang đăng ký</a> <br>
        <a href="/login">Trang đăng nhập</a>

        <form action="/multiple-upload" method="POST" enctype="multipart/form-data">
                <label> upload file</label>
                <input type="file" name="files"">
            
            <button type="submit" >Submit</button>
        </form>
</body>
</html>